.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 282px;
    border-bottom: none;
  }
  .header__image {
    padding-left: 5px;
    margin-left: 0;
  }
}
